/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: Verdana,Arial,sans-serif;
	font-size: 10px;
}
ul, ol {
	margin: 11px 0;
	padding-left: 40px;
}
/* ----------- Holy Grail CSS ----------- */
/* General styles */
body {
	/* Custom */
	background-image: none !important;
	/* ----- */
	margin:0;
	padding:0;
	border:0 !important;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	min-width:600px;	/* Minimum width of layout - remove line if not required */
	/* The min-width property does not work in old versions of Internet Explorer */
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	/* Custom */
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	background-position: left top !important;
	/* ----- */
}
/* column container */
.colmask {
	/* Custom */
	background: transparent url(../images/shadow-top.png) repeat-x scroll left top;
	margin-bottom: -1em;
	/* ----- */
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;				/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.holygrail .colmid {
	float:left;
	width:200%;
	margin-left:-190px; 	/* Width of right column */
	position:relative;
	right:100%;
}
.holygrail .colleft {
	float:left;
	width:100%;
	margin-left:-50%;
	position:relative;
	left:380px;		 	/* Left column width + right column width */
}
/* Custom */
.holygrail .colleftcolor {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;
	border: 0 !important;
	background-image: none !important;
}
/* ----- */
.holygrail .col1wrap {
	float:left;
	width:50%;
	position:relative;
	right:190px;			/* Width of left column */
	padding-bottom:1em; 	/* Centre column bottom padding. Leave it out if it's zero */
}
.holygrail .col1 {
	/* Margin for module content. */
	margin:12px 195px 0;	 	/* Centre column side padding:
							Left padding = left column width + centre column left padding width
							Right padding = right column width + centre column right padding width */
	position:relative;
	left:200%;
	/*overflow:hidden; Causes long absolute positioned things to be cut off. */
}
.holygrail .col2 {
	float:left;
	float:right;			/* This overrides the float:left above */
	width:180px;			/* Width of left column content (left column width minus left and right padding) */
	position:relative;
	right:5px;		 	/* Width of the left-hand side padding on the left column */

	/* Margin for module content. */
	margin-top: 12px; /* col1 top margin */
	/* Custom */
	margin-bottom: .8em;
	/* ----- */
}
/* Custom */
.holygrail .col2 .module_content {
	border: 0 !important;
	background: transparent none !important;
}
/* ----- */
.holygrail .col3 {
	float:left;
	float:right;			/* This overrides the float:left above */
	width:180px;			/* Width of right column content (right column width minus left and right padding) */
	margin-right:15px;  	/* Width of right column right-hand padding + left column left and right padding */
	position:relative;
	left:50%;

	/* Margin for module content. */
	margin-top: 12px; /* col1 top margin */
	/* Custom */
	margin-bottom: .8em;
	/* ----- */
}
/* Footer styles */
#footer {
	/* Custom */
	border-left: 0 !important;
	border-right: 0 !important;
	border-top-width: 3px !important;
	border-bottom-width: 3px !important;
	background-image: none !important;
	font-weight: normal;
	/* ----- */
	clear:both;
	float:left;
	width:100%;
}
#footer p {
	padding:10px;
	margin:0;
}

/* ----------- Customized CSS ----------- */
#top, #bottom, #content, #pre_content, #post_content {
	clear: both;
}
#header .pagetitle {
	margin: 0 25px;
	float: left;
	padding: 0;
}
#header .pagetitle a {
	text-decoration: none;
}
#header .pagetitle img {
	margin: 0;
	padding: 0;
	border: none 0;
	vertical-align: middle;
}
#header .pagetitle span {
	margin-right: 50px;
	padding: 14px 0;
	display: block;
}
#header .module, #footer .module {
	float: left;
}
#header .module.right {
	float: right;
}
#header .module .module_content, #footer .module .module_content {
	font-weight: normal;
}
#header .menuwrap {
	clear: both;
	background: none !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}
#main_menu {
	margin-left: 35px;
}
#main_menu.centered {
	display: table;
	margin: 0 auto;
}
#main_menu ul.dropdown > li > a.ui-widget-header {
	background: transparent none !important;
	border-top: none !important;
	border-bottom: none !important;
	border-right-style: none;
}
#main_menu ul.dropdown > li:last-child > a.ui-widget-header {
	border-right-style: solid;
}
ul.dropdown > li ul {
	box-shadow: 0 .4em 1em -.4em #333;
	-moz-box-shadow: 0 .4em 1em -.4em #333;
	-webkit-box-shadow: 0 .4em 1em -.4em #333;
}
#left {
	padding-top: 1px;
}
#content_top_left, #content_bottom_left {
	width: 50%;
	float: left;
	padding-top: 1px;
}
#content_top_right, #content_bottom_right {
	width: 50%;
	float: right;
	padding-top: 1px;
}
#content {
	clear: both;
}
.module {
	padding: .4em;
}
.colmask .module {
	margin-bottom: .8em;
}
.module.module_maximized {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	z-index: 1000;
	overflow: auto;
}
.module .module_title {
	padding: .2em .4em;
}
.colmask .module .module_title {
	margin-bottom: .5em;
}
.module .module_title h2 {
	margin: 0;
	font-size: 1.3em;
}
.module .module_title p {
	margin: 0;
	font-size: .9em;
	font-weight: normal;
}
.module .module_title .module_minimize, .module .module_title .module_maximize {
	float: right;
	margin-left: 2px;
}
.module .module_content {
	padding: 0 .4em;
}
#footer .copyright {
	clear: both;
	text-align: center;
}
/* ----------- Styled Inputs ----------- */
input.ui-state-default {
	padding: 0.4em .8em;
}
input.ui-widget-content,
select.ui-widget-content,
textarea.ui-widget-content {
	padding: 0.4em .8em;
	box-shadow: inset 0 0 .4em #CCC;
	-moz-box-shadow: inset 0 0 .4em #CCC;
	-webkit-box-shadow: inset 0 0 .4em #CCC;
}
/* ----------- Pines Form ----------- */
.pf-form div.pf-element.pf-full-width .pf-full-width {
	padding-right: 1.6em; /* Keep padded inputs from pushing out of their box. */
}
/* ----------- Menus ----------- */
#left ul.dropdown.dropdown-vertical, #right ul.dropdown.dropdown-vertical {
	width: 100%;
}