/* Globals */
html {
	font-family: Verdana,Arial,sans-serif;
	font-size: 10px;
}
body {
	background-image: none !important;
	text-align: left;
}
/* Margins */
body .centered {
	margin-left: auto;
	margin-right: auto;
}
body .centered .centered-first {
	margin-left: 0;
}
#column_container {
	padding-top: 8px;
}
#column_container > .grids {
	position: relative;
}
#column_container .module {
	margin: .4em 0 .6em;
}
#column_container .module .module_title {
	margin-bottom: .5em;
}
/* Left column color */
#left_color {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	border: 0 !important;
	background-image: none !important;
}
/* Header styles */
#header {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	background-position: left top !important;
}
#page_title {
	margin: 0 .4em;
	float: left;
	padding: 0;
}
#page_title a {
	text-decoration: none;
}
#page_title img {
	margin: 0;
	padding: 0;
	border: none 0;
	vertical-align: middle;
}
#page_title span {
	margin-right: 50px;
	padding: 14px 0;
	display: block;
}
#header .module {
	float: left;
}
#header .module.right {
	float: right;
}
#header .module .module_content, #footer .module .module_content {
	font-weight: normal;
}
/* Menu styles */
#header .menuwrap {
	clear: both;
	background: none !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}
#main_menu {
	margin-left: .4em;
}
#main_menu.centered {
	display: table;
	margin: 0 auto;
}
#main_menu ul.dropdown > li > a.ui-widget-header {
	background: transparent none !important;
	border-top: none !important;
	border-bottom: none !important;
	border-right-style: none;
}
#main_menu ul.dropdown > li:last-child > a.ui-widget-header {
	border-right-style: solid;
}
/* Current Page */
#main_menu ul.dropdown > li.current_page, #main_menu ul.dropdown > li.current_page_parent {
	
}
/* Footer styles */
#footer {
	border-left: 0 !important;
	border-right: 0 !important;
	border-top-width: 3px !important;
	border-bottom-width: 3px !important;
	background-image: none !important;
	font-weight: normal;
}
#copyright {
	text-align: center;
	padding:10px;
	margin:0;
}
/* Content styles */
#column_container {
	position: relative;
	background: transparent url(../images/shadow-top.png) repeat-x scroll left top;
}
#left .module_content {
	border: 0 !important;
	background: transparent none !important;
}
.module {
	padding: .4em;
}
.module.module_maximized {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	z-index: 1000;
	overflow: auto;
}
.module .module_title {
	padding: .2em .4em;
}
.module .module_title h2 {
	margin: 0;
	font-size: 1.3em;
}
.module .module_title p {
	margin: 0;
	font-size: .9em;
	font-weight: normal;
}
.module .module_title .module_minimize, .module .module_title .module_maximize {
	float: right;
	margin-left: 2px;
}
.module .module_content {
	padding: 0 .4em;
	overflow: visible;
}
/* Styled Inputs */
input.ui-state-default,
input.ui-widget-content,
select.ui-widget-content,
textarea.ui-widget-content {
	padding: 0.4em .8em;
}
/* Fancy Styling */
#fancy_font {
	font-size: 11px;
}
#fancy_font, #fancy_font .ui-widget {
	font-family: "Goudy Old Style","Palatino Linotype",Palatino,Sylfaen,serif;
}
body.shadows ul.dropdown > li ul {
	box-shadow: 0 .4em 1em -.4em #333;
	-moz-box-shadow: 0 .4em 1em -.4em #333;
	-webkit-box-shadow: 0 .4em 1em -.4em #333;
}
body.shadows .module.ui-widget-content {
	box-shadow: 0 .1em .5em -.3em #333;
	-moz-box-shadow: 0 .1em .5em -.3em #333;
	-webkit-box-shadow: 0 .1em .5em -.3em #333;
}
body.shadows .module_title.ui-widget-header {
	box-shadow: 0 .1em .4em -.3em #333;
	-moz-box-shadow: 0 .1em .4em -.3em #333;
	-webkit-box-shadow: 0 .1em .4em -.3em #333;
}
body.shadows input.ui-widget-content,
body.shadows select.ui-widget-content,
body.shadows textarea.ui-widget-content {
	box-shadow: inset 0 0 .4em #CCC;
	-moz-box-shadow: inset 0 0 .4em #CCC;
	-webkit-box-shadow: inset 0 0 .4em #CCC;
}
/* Pines Form */
.pf-form div.pf-element.pf-full-width .pf-full-width {
	padding-right: 1.6em; /* Keep padded inputs from pushing out of their box. */
}
/* Menus */
#left ul.dropdown.dropdown-vertical, #right ul.dropdown.dropdown-vertical {
	width: 100%;
}

/* Mobile CSS */
@media (max-width: 720px){
	#main_menu {
		margin-left: 0;
	}
	body .grids [class^="grid-"] {
		margin: 0;
	}
	/* Menus */
	body ul.dropdown {
		width: 100%;
		float: none;
	}
	body ul.dropdown li {
		float: none;
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	body ul.dropdown li a {
		position: relative;
		width: 80%;
		padding: .7em 0;
		line-height: 15px;
	}
	body ul.dropdown li:before {
		content: "::";
		line-height: 15px;
		display: block;
		float: right;
		width: 15%;
		background: #EEE;
		color: black;
		text-align: center;
		padding: .7em 0;
	}
	body ul.dropdown a ul {
		display: none;
	}
	body ul.dropdown li:hover > ul {
		position: static;
		min-width: inherit;
		display: block;
		visibility: visible;
		z-index: 0;
		padding: .4em;
	}
	/* Modules */
	body .module, body .module .module_content {
		padding: 0;
		border-left: none 0;
		border-right: none 0;
	}
	/* Pines Form */
	body .pf-form div.pf-element.pf-full-width .pf-full-width {
		padding-right: .2em; /* Keep padded inputs from pushing out of their box. */
	}
	body .pf-form div.pf-element .pf-label, .pf-form div.pf-element .pf-note {
		float: none !important;
		width: auto !important;
		display: block !important;
		margin-bottom: .1em !important;
	}
	body .pf-form div.pf-element .pf-group {
		margin-left: 0 !important;
		display: block;
	}
	body .pf-form div.pf-element .pf-field.pf-full-width {
		margin-left: 0 !important;
	}
	body .pf-form div.pf-buttons {
		padding-left: 0 !important;
	}
}