/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: Verdana,Arial,sans-serif;
	font-size: 10px;
}
ul, ol {
	margin: 11px 0;
	padding-left: 40px;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
/* ----------- EZ-CSS ----------- */
/* 2009 - 2010 (c) | ez-css.org
 * ez-min.css :: version 1.3 :: 03132010
 */
body{text-align:center}.ez-mw{margin-right:auto;margin-left:auto;text-align:left;position:relative;z-index:1;text-align:left;overflow:hidden}.ez-wr{clear:left}.ez-wr:after,.ez-box:after{content:".";display:block;height:0;clear:both;visibility:hidden}.ez-wr,.ez-box,.ez-last{display:inline-block;min-height:0}/* \*/* html .ez-wr,* html .ez-box,* html .ez-last{height:1%}.ez-wr,.ez-box,.ez-last{display:block}/* */.ez-oh{overflow:hidden}* html .ez-oh{overflow:visible}.ez-oa{overflow:auto}.ez-dt{display:table}.ez-it{display:inline-table}.ez-tc{display:table-cell}.ez-ib{display:inline-block}.ez-fl{float:left}* html .ez-fl{margin-right:-3px}.ez-fr{float:right}* html .ez-fr{margin-left:-3px}.ez-25{width:25%}.ez-33{width:33.33%}.ez-50{width:50%}.ez-66{width:66.66%}.ez-75{width:75%}.ez-negmr{margin-right:-1px}* html .ez-negmr{margin-right:-4px}* html .ez-negmx,.ez-negmx{margin-right:-1px}.ez-negml{margin-left:-1px}* html .ez-negml{margin-left:-4px}
/* Column Size */
#left, #right, #left_color {
	width: 190px;
}
/* Margins */
#column_container {
	padding-top: 8px;
}
#column_container .module {
	margin: .4em .4em .6em;
}
#column_container .module .module_title {
	margin-bottom: .5em;
}
/* Left column color */
#left_color {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	border: 0 !important;
	background-image: none !important;
}
/* General styles */
body {
	background-image: none !important;
	text-align: left;
}
/* Header styles */
#header {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	background-position: left top !important;
}
#page_title {
	margin: 0 25px;
	float: left;
	padding: 0;
}
#page_title a {
	text-decoration: none;
}
#page_title img {
	margin: 0;
	padding: 0;
	border: none 0;
	vertical-align: middle;
}
#page_title span {
	margin-right: 50px;
	padding: 14px 0;
	display: block;
}
#header .module, #footer .module {
	float: left;
}
#header .module.right {
	float: right;
}
#header .module .module_content, #footer .module .module_content {
	font-weight: normal;
}
/* Menu styles */
#header .menuwrap {
	clear: both;
	background: none !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}
#main_menu {
	margin-left: 35px;
}
#main_menu.centered {
	display: table;
	margin: 0 auto;
}
#main_menu ul.dropdown > li > a.ui-widget-header {
	background: transparent none !important;
	border-top: none !important;
	border-bottom: none !important;
	border-right-style: none;
}
#main_menu ul.dropdown > li:last-child > a.ui-widget-header {
	border-right-style: solid;
}
/* Footer styles */
#footer {
	border-left: 0 !important;
	border-right: 0 !important;
	border-top-width: 3px !important;
	border-bottom-width: 3px !important;
	background-image: none !important;
	font-weight: normal;
}
#copyright {
	text-align: center;
	padding:10px;
	margin:0;
}
/* Content styles */
#column_container {
	position: relative;
	background: transparent url(../images/shadow-top.png) repeat-x scroll left top;
}
#left .module_content {
	border: 0 !important;
	background: transparent none !important;
}
.module {
	padding: .4em;
}
.module.module_maximized {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	z-index: 1000;
	overflow: auto;
}
.module .module_title {
	padding: .2em .4em;
}
.module .module_title h2 {
	margin: 0;
	font-size: 1.3em;
}
.module .module_title p {
	margin: 0;
	font-size: .9em;
	font-weight: normal;
}
.module .module_title .module_minimize, .module .module_title .module_maximize {
	float: right;
	margin-left: 2px;
}
.module .module_content {
	padding: 0 .4em;
}
/* ----------- Styled Inputs ----------- */
input.ui-state-default,
input.ui-widget-content,
select.ui-widget-content,
textarea.ui-widget-content {
	padding: 0.4em .8em;
}
/* ----------- Fancy Styling ----------- */
#fancy_font {
	font-size: 11px;
}
#fancy_font, #fancy_font .ui-widget {
	font-family: Baskerville,"Goudy Old Style",Palatino,"Book Antiqua","URW Chancery L",Gentium,serif;
}
body.shadows ul.dropdown > li ul {
	box-shadow: 0 .4em 1em -.4em #333;
	-moz-box-shadow: 0 .4em 1em -.4em #333;
	-webkit-box-shadow: 0 .4em 1em -.4em #333;
}
body.shadows .module.ui-widget-content {
	box-shadow: 0 .1em .5em -.3em #333;
	-moz-box-shadow: 0 .1em .5em -.3em #333;
	-webkit-box-shadow: 0 .1em .5em -.3em #333;
}
body.shadows .module_title.ui-widget-header {
	box-shadow: 0 .1em .4em -.3em #333;
	-moz-box-shadow: 0 .1em .4em -.3em #333;
	-webkit-box-shadow: 0 .1em .4em -.3em #333;
}
body.shadows input.ui-widget-content,
body.shadows select.ui-widget-content,
body.shadows textarea.ui-widget-content {
	box-shadow: inset 0 0 .4em #CCC;
	-moz-box-shadow: inset 0 0 .4em #CCC;
	-webkit-box-shadow: inset 0 0 .4em #CCC;
}
/* ----------- Pines Form ----------- */
.pf-form div.pf-element.pf-full-width .pf-full-width {
	padding-right: 1.6em; /* Keep padded inputs from pushing out of their box. */
}
/* ----------- Menus ----------- */
#left ul.dropdown.dropdown-vertical, #right ul.dropdown.dropdown-vertical {
	width: 100%;
}