/* Print styles */
html, body {height: auto !important;}
body {background: #fff !important;}
#top, #header, #pre_content, #post_content, #footer, #bottom
#left_color, #left, #right {display: none !important;}
input, select, textarea {font-size:  100%;}
body, #column_container, #content_container {
	position: static !important;
	float: none !important;
	width: 100% !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 none !important;
	overflow: visible !important;
}
/* Titlebar Icons */
.module_maximize, .module_minimize {display: none !important;}
/* Pines Notify */
.ui-pnotify-history-container {display: none !important;}
html > body .ui-pnotify {position: static !important; margin-bottom: 10px;}