/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
}
ul, ol {
	margin: 11px 0;
	padding-left: 40px;
}
html, body {
	height: 100%;
	font-family: sans-serif;
}
/* ----------- Holy Grail CSS ----------- */
/* General styles */
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#FFF;
	min-width:600px;	/* Minimum width of layout - remove line if not required */
	/* The min-width property does not work in old versions of Internet Explorer */
	font-size:75%;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	border-top-width: 0 !important;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	border-bottom:1px solid #666;
	max-height: 100px;
}
#header .pagetitle {
	margin: 2px 25px;
	float: left;
}
#header .pagetitle h1 {
	margin: 0;
	padding: 10px;
}
/* column container */
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;				/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	background: transparent url(../images/shadow-top.png) repeat-x scroll left top !important;
}
/* holy grail 3 column settings */
.holygrail {
	/*background:#FF0;		/* Right column background colour */
}
.holygrail .colmid {
	float:left;
	width:200%;
	margin-left:-160px; 	/* Width of right column */
	position:relative;
	right:100%;
	/*background-color:#FFF; /*Blocks shadow. /* Centre column background colour */
}
.holygrail .colleft {
	/* jQuery UI Styling Additions */
	border-width: 0;
	background-color: transparent !important;
	background-image: none !important;
	/* ----- */
	float:left;
	width:100%;
	margin-left:-50%;
	position:relative;
	left:320px;		 	/* Left column width + right column width */
}
#pagebg .colleft_ghost {
	/* This provides a consistent background down to the footer on the left column. */
	border-width:0;
	background-image:none;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:160px;	/* Width of the left column. */
	z-index: -1;
}
.holygrail .col1wrap {
	float:left;
	width:50%;
	position:relative;
	right:160px;			/* Width of left column */
	padding-bottom:1em; 	/* Centre column bottom padding. Leave it out if it's zero */
}
.holygrail .col1 {
	margin:15px 165px 0;	 	/* Centre column side padding:
							Left padding = left column width + centre column left padding width
							Right padding = right column width + centre column right padding width */
	position:relative;
	left:200%;
	overflow:hidden;
}
.holygrail .col2 {
	float:left;
	float:right;			/* This overrides the float:left above */
	width:150px;			/* Width of left column content (left column width minus left and right padding) */
	position:relative;
	right:5px;		 	/* Width of the left-hand side padding on the left column */
}
.holygrail .col3 {
	float:left;
	float:right;			/* This overrides the float:left above */
	width:150px;			/* Width of right column content (right column width minus left and right padding) */
	margin-right:175px;  	/* Had to add column width too. /* Width of right column right-hand padding + left column left and right padding */
	position:relative;
	left:50%;

	margin-top: 15px;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	border-bottom-width: 0 !important;
}
#footer p {
	padding:10px;
	margin:0;
}

/* ----------- Sticky Footer ----------- */
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#wrapper .colmask {
	padding-bottom: 51px; /* the bottom padding is the negative value of the footer's height (+ border) */
}
#footer {
	border-top-width: 1px;
	overflow: auto;
	margin-top: -51px;
	height: 50px;
	/* http://www.cssstickyfooter.com/ */
}

/* ----------- Customized CSS ----------- */
#pagebg {
	border-width: 0;
	position: fixed;
	background-image:none;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-2;
}
.pagetitle {
	max-height: 68px;
}
.pagetitle a {
	text-decoration: none;
	font: bold 1em sans-serif;
	color: black;
}
.mainmenu {
	clear: both;
	width: 100%;
	font-size: 12px;
	background: transparent none no-repeat scroll left top !important;
	border-bottom-width: 0 !important;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
}
.mainmenu .menuwrap {
	/*text-align: center; /* Align menu text in the center with this. */
	display: table;
	/* margin: 0 auto; /* Align the menu in the center with this. */
	margin-left: 35px; /* Comment this out if you center the menu. */
}
.module {
	margin: 3px;
	padding: 4px;
	margin-bottom: 10px;
	font-size: 0.8em;
}
.module .module_title {
	margin-bottom: 8px;
	padding: 2px;
}
.module .module_title h2 {
	margin: 0;
}
.module .module_title p {
	font-weight: normal;
	font-size: 1em;
	margin: 0;
}
.module .module_content {
	padding: 0 5px;
}
.module .module_content a {
	text-decoration: underline !important;
}
#footer .copyright {
	font-size: .8em;
	text-align: center;
}
/* ----------- Standard Notices ----------- */
.notice {
	margin: 3px;
	padding: 5px;
}
.notice .close {
	float: right;
	clear: right;
}
.notice p {
	margin: 1px;
}
/* ----------- Spacer for making a cleared BR ----------- */
.spacer{
	clear: both;
	height: 1px;
}