/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
}
ul, ol {
	margin: 11px 0;
	padding-left: 40px;
}
html, body {
	height: 100%;
	font-family: Verdana,Arial,sans-serif;
	font-size: 9pt;
	/*font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;*/
}
/* ----------- Holy Grail CSS ----------- */
/* General styles */
body {
	margin:0;
	padding:0;
	border:0 !important;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#FFF;
	min-width:600px;	/* Minimum width of layout - remove line if not required */
	/* The min-width property does not work in old versions of Internet Explorer */
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	background-position: 0 0 !important;
}
/* column container */
.colmask {
	/* jQuery UI Styling Additions */
	border: 0 !important;
	background-image: url(../images/shadow-top.png) !important;
	background-repeat: repeat-x !important;
	background-attachment: scroll !important;
	background-position: left top !important;
	/* ----- */
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;				/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.holygrail .colmid {
	float:left;
	width:200%;
	margin-left:-200px; 	/* Width of right column */
	position:relative;
	right:100%;
}
.holygrail .colleft {
	/* jQuery UI Styling Additions */
	border: 0 !important;
	background-image: url(../images/shadow-top.png) !important;
	background-repeat: repeat-x !important;
	background-attachment: scroll !important;
	background-position: left top !important;
	/* ----- */
	float:left;
	width:100%;
	margin-left:-50%;
	position:relative;
	left:400px;		 	/* Left column width + right column width */
}
.holygrail .col1wrap {
	float:left;
	width:50%;
	position:relative;
	right:200px;			/* Width of left column */
	padding-bottom:1em; 	/* Centre column bottom padding. Leave it out if it's zero */
}
.holygrail .col1 {
	/* Margin for module content. */
	margin:15px 205px 0;	 	/* Centre column side padding:
							Left padding = left column width + centre column left padding width
							Right padding = right column width + centre column right padding width */
	position:relative;
	left:200%;
	/*overflow:hidden; Causes long absolute positioned things to be cut off. */
}
.holygrail .col2 {
	float:left;
	float:right;			/* This overrides the float:left above */
	width:190px;			/* Width of left column content (left column width minus left and right padding) */
	position:relative;
	right:5px;		 	/* Width of the left-hand side padding on the left column */

	/* Margin for module content. */
	margin-top: 12px; /* col1 top margin */
}
.holygrail .col3 {
	float:left;
	float:right;			/* This overrides the float:left above */
	width:190px;			/* Width of right column content (right column width minus left and right padding) */
	margin-right:15px;  	/* Width of right column right-hand padding + left column left and right padding */
	position:relative;
	left:50%;

	/* Margin for module content. */
	margin-top: 12px; /* col1 top margin */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
}
#footer p {
	padding:10px;
	margin:0;
}

/* ----------- Custom Footer ----------- */
#wrapper {
	float: left;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	min-width: 100%;
	width: auto !important;
	width: 100%;
	background-image: none !important;
	border: 0 !important;
}
#footer {
	border-left: 0 !important;
	border-right: 0 !important;
	border-top-width: 3px !important;
	border-bottom-width: 3px !important;
	background-image: none !important;
	font-weight: normal;
}

/* ----------- Customized CSS ----------- */
.colmask {
	min-height: 50%;
}
#header .pagetitle {
	margin: 2px 25px;
	float: left;
	max-height: 68px;
}
#header .pagetitle h1 {
	margin: 0;
	padding: 0;
	font-size: 2.3em;
}
#header .pagetitle a {
	text-decoration: none;
	color: inherit;
}
#header .pagetitle span {
	vertical-align: middle;
	margin-right: 50px;
	padding: 20px 0;
	line-height: 23px;
	display: block;
}
.mainmenu {
	clear: both;
	width: 100%;
	font-size: 1.2em;
	background: transparent none no-repeat scroll left top !important;
	border-bottom: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
.mainmenu .menuwrap {
	/*text-align: center; /* Align menu text in the center with this. */
	display: table;
	/* margin: 0 auto; /* Align the menu in the center with this. */
	margin-left: 35px; /* Comment this out if you center the menu. */
}
.module {
	margin: 3px;
	padding: 4px;
	margin-bottom: 10px;
}
.module .module_title {
	margin-bottom: 8px;
	padding: 2px;
}
.module .module_title h2 {
	margin: 0;
	font-size: 1.3em;
}
.module .module_title p {
	font-weight: normal;
	font-size: .9em;
	margin: 0;
}
.module .module_content {
	padding: 0 5px;
}
.module .module_content a {
	text-decoration: underline !important;
}
.module .module_right_minimize {
	float: right;
}
body .ui-widget {
	font-size: 1em !important;
}
#header .module, #footer .module {
	margin: 0;
	float: left;
}
#header .module.right {
	float: right;
}
#header .module .module_title, #footer .module .module_title {
	margin-bottom: 0;
}
#header .module .module_content, #footer .module .module_content {
	font-weight: normal;
}
#footer .copyright {
	clear: both;
	font-size: .8em;
	text-align: center;
}
#bottom, #top {
	margin: 0 auto;
	float: left;
	clear: both;
	min-height: 0px;
}
/* ----------- Standard Notices ----------- */
.notice {
	margin: 3px;
	padding: 4px;
	margin-bottom: 10px;
}
.notice .close {
	float: right;
	clear: right;
}
.notice p {
	margin: 1px;
}
/* ----------- Spacer for making a cleared BR ----------- */
.spacer {
	clear: both;
	height: 1px;
}