/* ----------- Holy Grail CSS ----------- */
/* Print styles */
html, body {
	height: auto !important;
}
body {
	background: #fff !important;
}
#switcher {
	display: none !important;
}
#header {
	display: none !important;
}
.colmask {
	position: static !important;
	float: none !important;
	width: 100% !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: visible !important;
}
.colmask input, .colmask select, .colmask textarea {
	font-size:  100%;
}
.holygrail .colmid {
	position: static !important;
	float: none !important;
	width: 100% !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: visible !important;
}
.holygrail .colleft {
	position: static !important;
	float: none !important;
	width: 100% !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: visible !important;
}
.holygrail .col1wrap {
	position: static !important;
	float: none !important;
	width: 100% !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: visible !important;
}
.holygrail .col1 {
	position: static !important;
	float: none !important;
	width: 100% !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: visible !important;
}
.holygrail .col2 {
	display: none !important;
}
.holygrail .col3 {
	display: none !important;
}
#footer {
	display: none !important;
}
.push {
	display: none !important;
}
.ui-pnotify-history-container {
	display: none !important;
}