/* 
    Document   : elfinder.default.css
    Created on : May 11, 2010, 12:44:19 PM
	Author     : Hunter Perrin
	Description:
		Default styling for elFinder in Pines.
*/

@import "elfinder.css";

.el-finder-cwd label {
	font-size: .9em;
}
.el-finder-cwd table th {
	font-size: .86em;
}
.el-finder-stat,
.el-finder-path,
.el-finder-sel {
	font-size: .9em;
}
.el-finder-dialog kbd {
	font-size: 1.2em;
}
.el-finder-contextmenu div {
	font: inherit;
}
.el-finder-ql div.el-finder-ql-drag-handle {
	font-size: 1.2em;
}
.el-finder-ql div.el-finder-ql-content {
	font: inherit;
}