html, body {
	height: auto !important;
}
@page {
	margin: .75in .25in;
	page-break-inside: avoid;
}
body {
	background: #fff !important;
}
input, select, textarea {
	font-size:  100%;
}
pre {
	margin: 0;
	padding: .5em 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-left: none;
	border-right: none;
	background-color: inherit;
	font-size: 12px;
	line-height: 12px;
	border: none;
	page-break-before: avoid !important;
	display: inline;
}

#column_container [class*="span"] {
	position: static !important;
	float: none !important;
	width: 100% !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 none !important;
	overflow: visible !important;
}

body #top,
body #header,
body #nav-configure,
body #main_menu,
body #right,
body #pre_content,
body #post_content,
body #footer,
body #bottom,
body #left,
body #right {
	display: none !important;
}

/* Modules Fixes */
.module {
	margin: 0 0 1em !important;
	padding: 0 !important;
	border: none !important;
}
.module_content {
	border: medium none;
	page-break-before: avoid !important;
}
.module .module_title, .module .module_content {
    padding-left: 0;
    padding-right: 0;
}
.module_title.page-header {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	page-break-after: avoid !important;
}

/* Pines Notify */
.ui-pnotify-history-container {
	display: none !important;
}
html > body .ui-pnotify {
	position: static !important; margin-bottom: 10px;
}