@charset "utf-8";
/* General styles */
body {
	margin:0;
	color: #3a3a3a;
	line-height: normal;
}
body, body .ui-widget {
	font-size: 13px;
}
h1, h2, h3 {
	font-family: "EB Garamond","Goudy Old Style","Palatino Linotype",Palatino,Sylfaen,serif;
	font-weight: normal;
	color: #777;
	margin: .6em 0 .2em;
}

a:hover {
	/*color:#27af1e !important;*/
	text-decoration: underline;
}
a:visited {
	opacity: .8;
}
.module {
	margin-bottom: .5em;
	clear: both;
}
@media (max-width: 480px) {
	body {
		padding: 0;
	}
}

/* Content */
.row {
	margin-left: -20px;
}
h1, h2, h3 {
	margin: 1em 0 .4em;
}

/* Inputs */
input.ui-state-default {
	padding: 0.4em .8em;
}
input.ui-widget-content,
select.ui-widget-content,
textarea.ui-widget-content {
	padding: 0.4em .8em;
	box-shadow: inset 0 0 .4em #CCC;
	-moz-box-shadow: inset 0 0 .4em #CCC;
	-webkit-box-shadow: inset 0 0 .4em #CCC;
}
/* Pines Form */
.pf-form div.pf-element.pf-full-width .pf-full-width {
	padding-right: 1.6em; /* Keep padded inputs from pushing out of their box. */
}