@charset "utf-8";
/* General styles */
body {
	background: #b4b4b4 url('../images/body-bg.png') repeat-x;
	margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #3a3a3a;
	line-height: normal;
}
body, body .ui-widget {
	font-size: 13px;
}
h1, h2, h3 {
	font-family: "EB Garamond","Goudy Old Style","Palatino Linotype",Palatino,Sylfaen,serif;
	font-weight: normal;
	color: #777;
	margin: .6em 0 .2em;
}

a:hover {
	text-decoration: underline;
}
.pagination a:hover {
	text-decoration: none;
}
a:visited {
	opacity: .8;
}
.module {
	margin-bottom: .5em;
	clear: both;
}
.module.content_pagination {
	padding-top: 1em;
}
.module_title {
	margin-bottom: .8em;
}
.module_title h2, #pines_content .module_title h2, .module_title p {
	margin-bottom: 0;
}
.module_title p {
	color: #777;
}

/* Shadow and Copyright Containers */
#shadow_container {
	position: relative;
	overflow: visible;
	background-color: #fff;
}

#shadow_container.fixed_nav {
	margin-top: 33px;
}
@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	#shadow_container.fixed_nav {
		margin-top: 0;
	}
}

#shadow_box:before {
	content: " ";
	display: block;
	position: absolute;
	background: url("../images/left-shadow.png") repeat-y 0 0;
	left: -24px;
	top: 0;
	width: 24px;
	bottom: 0;
}
#shadow_box:after {
	content: " ";
	display: block;
	position: absolute;
	background: url("../images/right-shadow.png") repeat-y 0 0;
	right: -24px;
	top: 0;
	width: 24px;
	bottom: 0;
}
#copyright-line-container {
	position: relative;
	overflow: visible;
}
#copyright-line-edges:before {
	content: " ";
	display: block;
	position: absolute;
	background: url("../images/left-line.png") no-repeat top left;
	left: -24px;
	top: 0;
	width: 24px;
	bottom: 0;
}
#copyright-line-edges:after {
	content: " ";
	display: block;
	position: absolute;
	background: url("../images/right-line.png") no-repeat top right;
	right: -24px;
	top: 0;
	width: 24px;
	bottom: 0;
}
#copyright-line {
	background: url('../images/line.png') repeat-x;
	height:2px;
	line-height:0;
}
@media (max-width: 767px) {
	#shadow_box:before, #copyright-line-edges:before {
		background-position-x: -4px;
		left: -20px;
		width: 20px;
	}
	#shadow_box:after, #copyright-line-edges:after {
		right: -20px;
		width: 20px;
	}
}
@media (max-width: 650px) {
	#recycled_bits {
		position: static !important;
	}
}
@media (max-width: 480px) {
	body {
		padding: 0;
	}
	#shadow_container {
		margin: 0;
		width: 100%
	}
	#shadow_box:before, #copyright-line-edges:before, #shadow_box:after, #copyright-line-edges:after {
		display: none;
	}
}

/* Navigation tweaks */
#nav-right > ul {
	float:right;
}
.navbar-fixed-top { /* Put menu in front of notices */
	z-index: 10000;
}
#nav-right ul.dropdown > li > ul {
	left: auto;
	right: 0;
}
#nav-right ul.dropdown li li ul {
	left: auto;
	right: 100%;
}
#nav-right ul.main_menu li ul li.current_page > a.dir,
#nav-right ul.main_menu li ul li > a.dir,
#nav-right ul.main_menu li ul li > a.dir:hover {
	background-image: url('../images/nav-bullet-flipped.png') !important;
}

#nav-logo {
	float:right;
	width: 48px;
	height:17px;
	margin: 7px 15px 0 0;
	border:none;
}

#nav-logo.nav-right {
	float:left;
	margin: 7px 0 0 15px;
}

.navbar-inner {
	background: url('../images/pines-navbar-bg.png') repeat-x;
	min-height: 33px;
	filter: none;
}
.navbar-inner a,.navbar-inner a:link,.navbar-inner a:visited {
	color:#103101 !important;
	text-decoration: none;
	text-rendering: optimizelegibility;
	text-shadow: 1px 0.1em #A5CD60;
}

.navbar-fixed-top.nav_not_fixed {
	position:relative;
}

/* Header Section */
#pines_header {
	background:#fff url('../images/pines-header-bg.png') repeat-x left bottom;
	min-height:135px;
}

#header {
	float: left;
	clear: left;
}
#header-right {
	float: right;
	clear: right;
}

#header_search {
	margin: 30px 15px 0 0;
	clear:right;
	float:right;
}

/* Logo Section */
#logo {
	margin: 20px 0 0 35px;
	text-decoration: none;
	float: left;
	color: #3A3A3A;
	font-size: 60px;
	line-height: 45px;
	font-family: "EB Garamond","Goudy Old Style","Palatino Linotype",Palatino,Sylfaen,serif;
}
#logo img {
	border:none;
	margin-left: -20px;
}
#header_right {
	display: inline;
}
#header_right img {
	margin: 17px 0 0 17px;
	border:none;
	vertical-align:top;
}

/* Precontent & Breadcrumbs */
#breadcrumbs {
	margin-top: 16px;
}
#breadcrumbs .module {
	padding: 0 16px;
	margin: 0;
	font-size: .7em;
}

#breadcrumbs .breadcrumb {
	background:none;
	box-shadow: 0;
	border: none;
	color:#089302;
	font-size:12px;
	margin:0;
	padding: 7px 14px 7px 0;
}

#pines_pre_content {
	background: url('../images/pre-content-bg.png') repeat;
	border-top: 1px solid #ffffff;
	margin-top:-16px;
}
#pines_pre_content, #pines_pre_content p {
	color:#525552;
    font-size: 15px;
}

#pines_pre_content h1 {
    font-size: 36px;
    line-height: 42px;
}
#pines_pre_content h1 small {
    font-size: 18px;
}
#pines_pre_content h2 {
    font-size: 30px;
    line-height: 36px;
}
#pines_pre_content h2 small {
    font-size: 18px;
}
#pines_pre_content h3 {
    font-size: 18px;
    line-height: 27px;
}
#pines_pre_content h3 small {
    font-size: 14px;
}

#pines_pre_content h1, #pines_pre_content h2, #pines_pre_content h3 {
	color:#089302;
}

/* Content */
#pines_content {
	margin-top: -15px;
	padding-bottom: 5px;
}

#pines_content h1, #pines_content h2, #pines_content h3 {
	margin: 1em 0 .4em;
}

/* Footer & Copyright */
#pines_footer_shadow {
	background: url('../images/footer-top-shadow.png') repeat-x left bottom;
	height: 19px;
	border-bottom: 1px solid #e7e7e7;
}

#pines_footer {
	background: #d8d8d8 url('../images/footer-bg.png') repeat-x left bottom;
	padding: 5px 15px;
}

#pines_copyright {
	background: #bcbcbc url('../images/copyright-bg.png') repeat-x left bottom;
}
#pines_copyright p {
	color:#666666;
	text-align:center;
	height:46px;
	margin: 0;
	line-height:46px;
}
#recycled_bits {
	height:24px;
	width:128px;
	background: url('../images/recycled-bits') no-repeat right bottom transparent;
	position:absolute;
	right:15px;
	bottom:15px;
}

/* Inputs */
input.ui-state-default {
	padding: 0.4em .8em;
}
input.ui-widget-content,
select.ui-widget-content,
textarea.ui-widget-content {
	padding: 0.4em .8em;
	box-shadow: inset 0 0 .4em #CCC;
	-moz-box-shadow: inset 0 0 .4em #CCC;
	-webkit-box-shadow: inset 0 0 .4em #CCC;
}
/* Pines Form */
.pf-form div.pf-element.pf-full-width .pf-full-width {
	padding-right: 1.6em; /* Keep padded inputs from pushing out of their box. */
}

/* Modifies Bootstrap */
#shadow_container.container-fluid, #copyright-line-container.container-fluid {
	padding: 0;
}
/* Hide shadow edges on fluid layout. */
.container-fluid #shadow_box:after, .container-fluid #copyright-line-edges:after {
	width:0;
}
/* pnotify */
.ui-pnotify {
	top: 51px;
}
.ui-pnotify-history-container {
	right: 0;
}