@charset "utf-8";
/* General styles */
body {
	background: #b4b4b4 url('../images/body-bg.png') repeat-x;
	margin:0;
	/*font-family: 'Droid Sans', sans-serif;*/
	color: #3a3a3a;
	line-height: normal;
}
body, body .ui-widget {
	font-size: 13px;
}
h1, h2, h3 {
	font-family: "EB Garamond","Goudy Old Style","Palatino Linotype",Palatino,Sylfaen,serif;
	font-weight: normal;
	color: #777;
	margin: .6em 0 .2em;
}
a,a:link,a:visited {
	color:#0462a5 !important;
	text-decoration: none;
}
a:hover {
	/*color:#27af1e !important;*/
	text-decoration: underline;
}
a:visited {
	opacity: .8;
}
.module {
	margin-bottom: .5em;
	clear: both;
}

/* Navigation set up */
#shadow_container {
	position: relative;
	overflow: visible;
	background-color: #fff;
}
#shadow_box:before {
	content: " ";
	display: block;
	position: absolute;
	background: url("../images/left-shadow.png") repeat-y 0 0;
	left: -24px;
	top: 0;
	width: 24px;
	bottom: 0;
}
#shadow_box:after {
	content: " ";
	display: block;
	position: absolute;
	background: url("../images/right-shadow.png") repeat-y 0 0;
	right: -24px;
	top: 0;
	width: 24px;
	bottom: 0;
}
#copyright-line-left {
	position: relative;
	overflow: visible;
}
#copyright-line-right:before {
	content: " ";
	display: block;
	position: absolute;
	background: url("../images/left-line.png") no-repeat top left;
	left: -24px;
	top: 0;
	width: 24px;
	bottom: 0;
}
#copyright-line-right:after {
	content: " ";
	display: block;
	position: absolute;
	background: url("../images/right-line.png") no-repeat top right;
	right: -24px;
	top: 0;
	width: 24px;
	bottom: 0;
}
#copyright-line {
	background: url('../images/line.png') repeat-x;
	height:2px;
	line-height:0;
}
@media (max-width: 767px) {
	#shadow_box:before, #copyright-line-right:before {
		background-position-x: -4px;
		left: -20px;
		width: 20px;
	}
	#shadow_box:after, #copyright-line-right:after {
		right: -20px;
		width: 20px;
	}
}
@media (max-width: 650px) {
	#recycled_bits {
		position: static !important;
	}
}
@media (max-width: 480px) {
	body {
		padding: 0;
	}
	#shadow_container {
		margin: 0;
		width: 100%
	}
	#shadow_box:before, #copyright-line-right:before, #shadow_box:after, #copyright-line-right:after {
		display: none;
	}
}
#pines_navlist_container {
	float:right;
	background:#fff;
}

/* Navigation tweaks */
/* affects  main menu ul only */
ul.main_menu {
	margin: 0 0 0;
	padding:0;
}
/* affects lis that arent in main menu dirs and search bar - nonhover */
ul.main_menu > li > a, #mts-nav-search {
	background:#fff !important;
	border:none !important;
}
/* affects lis that arent dirs in main menu - non-hover */
ul.main_menu > li > a {
	margin: 0 !important;
	padding: 8px 15px 0 !important;
	height:25px !important;
	float:left !important;
	
}
/* affects lis that arent dirs in main menu - hover */
ul.main_menu > li > a:hover {
	/* background:#fff !important; */
	border-top-color:none !important;
	border-left:none !important;
	cursor:pointer !important;
	padding-left: 15px !important;
}
/* affects all link colors other than hover */
ul.dropdown a:link, ul.dropdown li a:visited, ul.dropdown li a:active, ul.dropdown a:hover {
	
	font-weight:normal;
}
/* affects lis that are in the main menu only non hover */
ul.main_menu, ul.main_menu > li {
	list-style-type:none; 
	display:inline-block;
	font-size:14px; 
	color:#0462a5 !important;
}
/* Affects ALL LIs */
ul.dropdown ul > li {
    border-top:none!important;
	border-bottom:none !important;
	line-height:11px;
}
/* This ensures that all non-hovered A tags take these properties */
ul.dropdown a, ul.dropdown span, ul.dropdown .dir {
    display: block;
	border:none !important;
	border-left:none !important;
	background: #fff !important;
}
/* This ensures that all hovered A tags take these properties */
ul.dropdown li.current_page > a, ul.dropdown li.current_page > span, ul.dropdown li.current_page > .dir,
ul.dropdown a:hover, ul.dropdown span:hover, ul.dropdown .dir:hover {
	background: #0462a5 !important;
	border-bottom: none !important;
	color: #fff !important;
}
/* When a dir in the submenu is highlighted (not hovered) it has a weird border unless you do this */
ul.dropdown li ul li a.dir {
	border-bottom-color:transparent !important;
}
/* shifts all submenus to line up with the main menu */
ul.dropdown ul {
	margin-left:-1px;
}
/* This affects all sub sub menus ul tags so that they are aligned next to their parent */
ul.main_menu li > ul > li > ul {
	margin-top:-1px;
	margin-left:1px;
}
/* This affects all sub sub menus non-hover */
ul.main_menu li > ul > li > ul > li {
	border-left:none !important;
}
/* This affects all LIS non-hover */
ul.main_menu li ul > li {
	background: #fff !important;
}
/* This affects all DIRs giving them a bullet that are in the submenu non-hover */
ul.main_menu li ul li > a.dir {
	background:url('../images/nav-bullet.png') no-repeat 90% 50% !important;
}
/* This affects all LIS submenu hover */
ul.main_menu li ul > li.current_page,
ul.main_menu li ul > li:hover {
	background: #fff repeat-x !important;
	
}
/* This affects all DIRs giving them a bullet that are in the submenu HOVER */
ul.main_menu li ul li.current_page > a.dir,
ul.main_menu li ul li > a.dir:hover {
	background:#0462a5 url('../images/nav-bullet.png') no-repeat 90% 50% !important;
	border-bottom:none !important;
}

/* Header Section */
#pines_header {
	background:#fff url('../images/pines-header.png') repeat-x left bottom;
	min-height:115px;
}
#header {
	float: left;
	clear: left;
}
#header-right {
	float: right;
	clear: right;
}

#header_search {
	margin: 30px 20px 0 0;
	clear:right;
	float:right;
}

/* Logo Section */
#logo {
	margin: 20px 0 0 15px;
	text-decoration: none;
	float: left;
}
#logo img {
	border:none;
}
#header_right {
	display: inline;
}
#header_right img {
	margin: 17px 0 0 17px;
	border:none;
	vertical-align:top;
}

/* Precontent & Breadcrumbs */
#breadcrumbs .module {
	padding: 8px 16px 0;
	margin: 0;
	font-size: .7em;
}

#breadcrumbs .breadcrumb {
	background:none;
	box-shadow: 0;
	border: none;
	color:#089302;
	font-size:12px;
	margin:0;
	padding: 7px 14px 7px 0;
}

#pines_pre_content {
	background: url('../images/pre-content-bg.png') repeat;
	border-top: 1px solid #ffffff;
	color:#525552 !important;
	font-family: "droid sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 15px !important;
}

#pines_pre_content p {
	color:#525552;
	font-family: "droid sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#pines_pre_content h1 {
    font-size: 36px;
    line-height: 42px;
}
#pines_pre_content h1 small {
    font-size: 18px;
}
#pines_pre_content h2 {
    font-size: 30px;
    line-height: 36px;
}
#pines_pre_content h2 small {
    font-size: 18px;
}
#pines_pre_content h3 {
    font-size: 18px;
    line-height: 27px;
}
#pines_pre_content h3 small {
    font-size: 14px;
}

#pines_pre_content h1, #pines_pre_content h2, #pines_pre_content h3 {
	color:#089302;
}

/* Content */
#pines_content {
	padding-bottom:25px;
}

#pines_content .content_padding {
	padding: 0 15px;
}
#pines_content .row {
	margin-left: -20px;
}
#pines_content #main_content, #pines_content #sidebar {
	margin-left: 20px;
}
#pines_content h1, #pines_content h2, #pines_content h3 {
	margin: 1em 0 .4em;
}
div.textured_block {
	background: url('../images/section-bg.png') no-repeat;
	height:148px;
	margin: 0 auto;
	padding:10px;
}
div.headline {
	text-align:center;
	padding:25px 0;
}

/* Footer & Copyright */
#pines_footer_shadow {
	background: url('../images/footer-top-shadow.png') repeat-x left bottom;
	height: 19px;
	border-bottom: 1px solid #e7e7e7;
}

#pines_footer {
	background: #d8d8d8 url('../images/footer-bg.png') repeat-x left bottom;
}

#pines_copyright {
	background: #bcbcbc url('../images/copyright-bg.png') repeat-x left bottom;
}
#pines_footer .modules {
	padding: 5px 20px;
}
#pines_copyright p {
	color:#666666;
	text-align:center;
	height:46px;
	margin: 0;
	line-height:46px;
}
#recycled_bits {
	height:24px;
	width:128px;
	background: url('../images/recycled-bits') no-repeat right bottom transparent;
	position:absolute;
	right:20px;
	bottom:15px;
}

/* Inputs */
input.ui-state-default {
	padding: 0.4em .8em;
}
input.ui-widget-content,
select.ui-widget-content,
textarea.ui-widget-content {
	padding: 0.4em .8em;
	box-shadow: inset 0 0 .4em #CCC;
	-moz-box-shadow: inset 0 0 .4em #CCC;
	-webkit-box-shadow: inset 0 0 .4em #CCC;
}
/* Pines Form */
.pf-form div.pf-element.pf-full-width .pf-full-width {
	padding-right: 1.6em; /* Keep padded inputs from pushing out of their box. */
}

/* Modifies Bootstrap */
.container-fluid {
	padding: 0;
}

/* Wherefore this style?

.container-fluid #shadow_box:after, #copyright-line-right:after {
	width:0;
}*/