/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #49ea95 url(../images/dandelion.jpg) no-repeat fixed 0 0;
	color: #024;
}
.pagetitle {
	width: 100%;
	text-align: center;
	margin: .8em 0;
}
.pagetitle span {
	font: bold 2em sans-serif;
}
.mainmenu {
	text-align: center;
	display: table;
	margin: 0 auto;
}
.module {
    margin-bottom: 10px;
}
/* ----------- Content Area ----------- */
#wrapper {
	position: relative;
	height: auto;
}
.left {
	/* position: absolute;
	top: 0;
	left: 5px;
	width: 120px; */
	float: left;
	margin-left: 5px;
	width: 120px;
}
.right {
	float: right;
	margin-right: 5px;
	width: 120px;
}
.middle {
	margin-left: 150px;
	margin-right: 150px;
}
.content {
	padding: 8px;
	border: 1px solid gray;
	background-color: #EEE;
	font: normal smaller sans-serif;
	color: #024;
	-moz-border-radius: 1em;
}
.content .module_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
/* ----------- Standard Notices ----------- */
.notice {
	margin: 3px;
	padding: 5px;
	border: 1px solid gray;
	font: bold smaller sans-serif;
	background-color: #FF7;
	text-align: center;
}
.error {
	background-color: #F00;
	color: #000;
}
.notice .close {
	color: gray;
	float: right;
	clear: right;
}
/* ----------- Pines Forms ----------- */
.pform:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.pform fieldset {
    padding: 5.6px 10px 12px;
    border: 1px solid #CCC;
}
.pform fieldset legend, .pform .heading h1 {
    font-size: 150%;
    font-weight: normal;
}
.pform div.element {
    float: left;
    clear: left;
    padding-bottom: 15px;
}
.pform div.heading {
    border-bottom: 1px solid #CCC;
    padding-bottom: 0;
    margin-bottom: 10px;
    width: 100%;
}
.pform div.heading h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.pform div.heading p {
    clear: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pform div.element span {
    width: 230px; /* Width of labels. */
    float: left;
}
.pform div.element span.note {
    clear: left;
    font-size: 70%;
    color: #555;
}
.pform div.element .group {
     margin-left: 230px; /* Same as width of labels. */
}
.pform div.element input, .pform div.element select, .pform div.element textarea, .pform div.element button {
    float: none;
    margin-left: 5px; /* Margin between inputs and labels. */
}
.pform div.buttons {
    padding-left: 215px; /* Width of labels + margin to inputs - button spacing. */
}
.pform div.buttons input, .pform div.buttons button {
    margin-left: 20px; /* Button spacing. */
}
/* ----------- Spacer for making a cleared BR ----------- */
.spacer{
	clear: both;
	height: 1px;
}
/* ----------- Tables ----------- */
table caption {
	background-color: #FF5;
	border-top: 1px solid #024;
	border-left: 1px solid #024;
	border-right: 1px solid #024;
}
table th {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background-color: #FF9;
}
table td {
	border: 1px solid gray;
}