/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #49ea95 url(../images/dandelion.jpg) no-repeat fixed 0 0;
	color: #024;
}
.pagetitle {
	width: 100%;
	text-align: center;
	margin: .8em 0;
}
.pagetitle span {
	font: bold 2em sans-serif;
}
.mainmenu {
	text-align: center;
	display: table;
	margin: 0 auto;
}
.module {
    margin-bottom: 10px;
}
/* ----------- Content Area ----------- */
#wrapper {
	position: relative;
	height: auto;
}
.left {
	/* position: absolute;
	top: 0;
	left: 5px;
	width: 120px; */
	float: left;
	margin-left: 5px;
	width: 120px;
}
.right {
	float: right;
	margin-right: 5px;
	width: 120px;
}
.middle {
	margin-left: 150px;
	margin-right: 150px;
}
.content {
	padding: 8px;
	border: 1px solid gray;
	background-color: #EEE;
	font: normal smaller sans-serif;
	color: #024;
	-moz-border-radius: 1em;
}
.content .module_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
/* ----------- Standard Notices ----------- */
.notice {
	margin: 3px;
	padding: 5px;
	border: 1px solid gray;
	font: bold smaller sans-serif;
	background-color: #FF7;
	text-align: center;
}
.error {
	background-color: #F00;
	color: #000;
}
.notice .close {
	color: gray;
	float: right;
	clear: right;
}
/* ----------- Spacer for making a cleared BR ----------- */
.spacer{
	clear: both;
	height: 1px;
}