/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
}
body {
	padding: 0;
}
#page {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}
ul, ol {
	margin: 11px 0;
	padding-left: 40px;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
/* Header styles */
#header {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
#navbar {
    margin-bottom: 0;
}
#navbar .brand-image {
	padding-top: 0;
	padding-bottom: 0;
}
#navbar .brand-image img {
	margin: 0;
	padding: 0;
	border: none 0;
	height: 40px;
	width: auto;
}
#header .module .module_content, #footer .module .module_content {
	font-weight: normal;
}
/* Menu styles */
.navbar-fixed-top {
    margin-left: 0;
    margin-right: 0;
}
#wrapper {
	position: relative;
	width: 100%;
}
#wrapper.menu_open {
	overflow: hidden;
}
#menu {
	background: #222;
	position: absolute;
	top: 0;
	right: 100%;
	left: -85%;
	min-height: 100%;
	padding: 1em;
}
ul.menu li a {
	padding: 1em;
	font-size: 18px;
	line-height: 18px;
}
ul.menu {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none outside none;
}
ul.menu ul {
	padding: 0;
	margin: 0 0 15px;
}
ul.menu li {
	position: relative;
	width: 100%;
	display: block;
	vertical-align: middle;
	list-style: none outside none;
}
ul.menu li ul {
	display: none;
	padding-left: .8em;
}
ul.menu li a {
	display: block;
	margin: 0;
	text-decoration: none;
	text-align: left;
}
ul.menu li a.expander {
	width: 45px;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	max-height: 18px;
	overflow: hidden;
	text-align: center;
	z-index: 50;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-o-border-top-left-radius: 0;
	-o-border-bottom-left-radius: 0;
}
ul.menu li a.expander + a {
	margin-right: 15%;
}
/* Footer styles */
#footer {
	margin-top: 1em;
	border-bottom: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
#copyright {
	text-align: center;
	padding: .4em;
	margin: 0;
}
/* Content styles */
.module {
	padding: .4em 0;
}
.page-header h2 {
	line-height: 1;
}
/* ----------- Pines Form ----------- */
.pf-form div.pf-element.pf-full-width .pf-full-width {
	padding-right: .2em; /* Keep padded inputs from pushing out of their box. */
}
.pf-form div.pf-element .pf-label, .pf-form div.pf-element .pf-note {
	float: none;
	width: auto;
	display: block;
	margin-bottom: .1em;
}
.pf-form div.pf-element .pf-group {
	margin-left: 0;
	display: block;
}
.pf-form div.pf-element .pf-field.pf-full-width {
	margin-left: 0;
}
.pf-form div.pf-buttons {
	padding-left: 0;
}
/* ----------- jQuery UI ----------- */
.ui-tabs .ui-tabs-panel, .ui-dialog .ui-dialog-content {
	padding: .5em 0 !important;
}
.ui-dialog {
	width: auto !important;
	left: 0 !important;
	top: 0 !important;
}
/* ----------- Pines Grid ----------- */
.ui-pgrid-table-viewport {
	height: auto !important;
}
.ui-pgrid-table-container {
	position: static !important;
	overflow: visible !important;
}
.ui-pgrid-table {
	white-space: normal !important;
}