/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
    font-family: sans;
}
body {
    margin:0;
    padding:0;
    border:0;
    background:#fff;
    font-size:90%;
}
h1, h2, h3 {
    margin:.8em 0 .2em 0;
    padding:0;
}
p {
    margin:.4em 0 .8em 0;
    padding:0;
}
img {
    margin:10px 0 5px;
}
.col1 {
    width: 100%;
}
/* ----------- Customized CSS ----------- */
.module_group {
    padding: 3px;
}
.module_group .module_title {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 8px;
    position: relative;
    left: -3px;
}
/* ----------- Standard Notices ----------- */
.notice {
	margin: 3px;
	padding: 5px;
	border: 1px solid gray;
	font: bold smaller sans-serif;
	background-color: #FFC;
	text-align: center;
}
.error {
	background-color: #F00;
	color: #000;
}
/* ----------- Spacer for making a cleared BR ----------- */
.spacer{
	clear: both;
	height: 1px;
}
/* ----------- Tables ----------- */
table caption {
	background-color: #DDD;
	border-top: 1px solid #024;
	border-left: 1px solid #024;
	border-right: 1px solid #024;
}
table th {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background-color: #F4F4F4;
}
table td {
	border: 1px solid gray;
}