/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
    font-family: sans;
}
body {
    margin:0;
    padding:0;
    border:0;
    background:#fff;
    font-size:90%;
}
h1, h2, h3 {
    margin:.8em 0 .2em 0;
    padding:0;
}
p {
    margin:.4em 0 .8em 0;
    padding:0;
}
img {
    margin:10px 0 5px;
}
.col1 {
    width: 100%;
}
/* ----------- Customized CSS ----------- */
.module_group {
    padding: 3px;
}
.module_group .module_title {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 8px;
    position: relative;
    left: -3px;
}
/* ----------- Standard Notices ----------- */
.notice {
	margin: 3px;
	padding: 5px;
	border: 1px solid gray;
	font: bold smaller sans-serif;
	background-color: #FFC;
	text-align: center;
}
.error {
	background-color: #F00;
	color: #000;
}
/* ----------- Pines Forms ----------- */
.pform:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.pform fieldset {
    padding: 5.6px 10px 12px;
    border: 1px solid #CCC;
}
.pform fieldset legend, .pform .heading h1 {
    font-size: 150%;
    font-weight: normal;
}
.pform div.element {
    float: left;
    clear: left;
    padding-bottom: 15px;
}
.pform div.heading {
    border-bottom: 1px solid #CCC;
    padding-bottom: 0;
    margin-bottom: 10px;
    width: 100%;
}
.pform div.heading h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.pform div.heading p {
    clear: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pform div.element span {
    width: 230px; /* Width of labels. */
    float: left;
}
.pform div.element span.note {
    clear: left;
    font-size: 70%;
    color: #555;
}
.pform div.element .group {
     margin-left: 230px; /* Same as width of labels. */
}
.pform div.element input, .pform div.element select, .pform div.element textarea, .pform div.element button {
    float: none;
    margin-left: 5px; /* Margin between inputs and labels. */
}
.pform div.buttons {
    padding-left: 215px; /* Width of labels + margin to inputs - button spacing. */
}
.pform div.buttons input, .pform div.buttons button {
    margin-left: 20px; /* Button spacing. */
}
/* ----------- Spacer for making a cleared BR ----------- */
.spacer{
	clear: both;
	height: 1px;
}
/* ----------- Tables ----------- */
table caption {
	background-color: #DDD;
	border-top: 1px solid #024;
	border-left: 1px solid #024;
	border-right: 1px solid #024;
}
table th {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background-color: #F4F4F4;
}
table td {
	border: 1px solid gray;
}