/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
    font-family: sans;
}
.pagetitle {
    text-align: center;
	margin: 10px 25px;
}
.pagetitle span {
	font: bold 2em sans;
}
.mainmenu {
	text-align: center;
	display: table;
    width: 100%;
    background-color: #F6F6F6;
    padding-left: 25px;
    font-size: 12px;
    color: #7F7F7F;
    /* margin: 0 auto; */
}
.module {
    margin-bottom: 10px;
}
/* ----------- Holy Grail CSS ----------- */
/* General styles */
body {
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#fff;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
                        /* The min-width property does not work in old versions of Internet Explorer */
    font-size:90%;
}
h1, h2, h3 {
    margin:.8em 0 .2em 0;
    padding:0;
}
p {
    margin:.4em 0 .8em 0;
    padding:0;
}
img {
    margin:10px 0 5px;
}
/* Header styles */
#header {
    clear:both;
    float:left;
    width:100%;
}
#header {
    border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
    padding:.4em 15px 0 15px;
    margin:0;
}
/*
    Note using Holy Grail style menu.
#header ul {
    clear:left;
    float:left;
    width:100%;
    list-style:none;
    margin:10px 0 0 0;
    padding:0;
}
#header ul li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
#header ul li a {
    display:block;
    float:left;
    margin:0 0 0 1px;
    padding:3px 10px;
    text-align:center;
    background:#eee;
    color:#000;
    text-decoration:none;
    position:relative;
    left:15px;
    line-height:1.3em;
}
#header ul li a:hover {
    background:#369;
    color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
}
#header ul li a span {
    display:block;
}
*/
/* 'widths' sub menu */
/* #layoutdims {
    clear:both;
    background:#eee;
    border-top:4px solid #000;
    margin:0;
    padding:6px 15px !important;
    text-align:right;
} */
/* column container */
.colmask {
    position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;				/* width of whole page */
    overflow:hidden;		/* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.holygrail {
    background:#F4F4F4;    	/* Right column background colour */
}
.holygrail .colmid {
    float:left;
    width:200%;
    margin-left:-200px; 	/* Width of right column */
    position:relative;
    right:100%;
    background:#fff;    	/* Centre column background colour */
}
.holygrail .colleft {
    float:left;
    width:100%;
    margin-left:-50%;
    position:relative;
    left:400px;         	/* Left column width + right column width */
    background:#F4F4F4;    	/* Left column background colour */
}
.holygrail .col1wrap {
    float:left;
    width:50%;
    position:relative;
    right:200px;        	/* Width of left column */
    padding-bottom:1em; 	/* Centre column bottom padding. Leave it out if it's zero */
}
.holygrail .col1 {
    margin:0 215px;     	/* Centre column side padding:
                            Left padding = left column width + centre column left padding width
                            Right padding = right column width + centre column right padding width */
    position:relative;
    left:200%;
    overflow:hidden;
}
.holygrail .col2 {
    float:left;
    float:right;			/* This overrides the float:left above */
    width:170px;        	/* Width of left column content (left column width minus left and right padding) */
    position:relative;
    right:15px;         	/* Width of the left-had side padding on the left column */
}
.holygrail .col3 {
    float:left;
    float:right;			/* This overrides the float:left above */
    width:170px;        	/* Width of right column content (right column width minus left and right padding) */
    margin-right:45px;  	/* Width of right column right-hand padding + left column left and right padding */
    position:relative;
    left:50%;
}
/* Footer styles */
#footer {
    clear:both;
    float:left;
    width:100%;
    border-top:1px solid #000;
}
#footer p {
    padding:10px;
    margin:0;
}

/* ----------- Customized CSS ----------- */
.module_group {
    padding: 3px;
}
.module_group .module_title {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 8px;
    position: relative;
    left: -3px;
}
#footer .copyright {
    font-size: .8em;
}
/* ----------- Standard Notices ----------- */
.notice {
	margin: 3px;
	padding: 5px;
	border: 1px solid gray;
	font: bold smaller sans-serif;
	background-color: #FFC;
	text-align: center;
}
.error {
	background-color: #F00;
	color: #000;
}
.notice .close {
	color: gray;
	float: right;
	clear: right;
}
/* ----------- Standard Forms ----------- */
.stdform{
	padding: 14px;
}
.spacer{
	clear: both;
	height: 1px;
}
/* ----------- Stylized Inputs ----------- */
/*
.stylized{
	border:solid 2px #DEDEDE;
}
*/
.stylized h2 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
.stylized p{
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #dedede;
	padding-bottom: 10px;
}
.stylized label{
	clear: left;
	display: block;
	float: left;
	font-weight: bold;
	margin: 2px 30px 10px;
	text-align: left;
}
.stylized table label{
	margin: 0;
}
.stylized ul label{
	margin: 0;
	float: none;
	display: inline;
}
.stylized ul{
	clear: left;
}
.stylized .small{
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	margin-left: 10px;
	width: 140px;
}
.stylized input{
	float: left;
	margin: 2px 0 0 20px;
	position: relative;
	width: 200px;
}
.stylized table input{
	width: auto;
	margin: 2px;
}
.stylized ul input{
	width: auto;
	margin: 0;
	float: none;
	display: inline !important;
}
.stylized select{
	float: left;
	margin: 2px 0 0 20px;
	position: relative;
}
.stylized table select{
	margin: 2px;
}
.stylized button{
	clear: both;
	display: block;
	margin-left: 150px;
	background: #888888;
	color: #FFFFFF;
	border: solid 1px #666666;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 6px;
}
/* ----------- Tables ----------- */
table caption {
	background-color: #DDD;
	border-top: 1px solid #024;
	border-left: 1px solid #024;
	border-right: 1px solid #024;
}
table th {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background-color: #F4F4F4;
}
table td {
	border: 1px solid gray;
}