.mailer-email-modal-container .text-center {
	text-align:center;
}
.mailer-email-modal-container .modal-header h4 {
	margin: 0;
}
.mailer-email-modal-container .send-email-btn {
	font-weight: bold;
}
.mailer-email-modal-container .mailer-template-description {
	padding:5px;
	font-size:1.2em;
	font-weight:bold;
	color: #888;
}
.mailer-email-modal-container .mailer-template-select {
	width: 80%;
}
.mailer-email-modal-container .results-container {
	padding: 5px;
}
.mailer-email-modal-container .absolute-badge {
	position:absolute; 
	left: -30px;
	top: 4px;
}
.mailer-email-modal-container .progress {
	line-height: 25px;
	height: 25px;
}
.mailer-email-modal-container .email-prefix {
	padding:2px;
	margin:3px;
	width:auto;
	text-align:center;
	font-weight:bold;
}
.mailer-email-modal-container .email-prefix.hide {
	display: none;
}