/* 
    Document   : employee_chat
    Created on : Mar 13, 2014, 10:20:38 AM
    Author     : Mohammed, Angela Murrell
    Description:
        Purpose of the stylesheet follows.
*/

/* CONVERSATION WINDOWS */
#additional_clients {
	bottom: 31px;
    max-width: 300px;
    overflow: hidden;
    position: fixed;
    right: 11px;
	z-index: 2000;
}
.chat-window {
    background-color: #EEE;
    position: relative;
	width: 270px;
    display: block;
	z-index: 2000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	left: -1000px;
	display: none;
}
.chat-body {
    margin: 0;
    background-color: #FFF;
    overflow-y: auto;
    height: 350px;
    position: relative;
    list-style: none;
}
.chat-header {
    padding: 4px 15px;
    margin: 0;
	font-weight:bold;
	position:relative; 
	background: #666; 
	color: #eee;
	border-top: 3px solid #565656;
	height: 36px;
}
.chat-footer {
    background-color: #999;
    bottom: 39px;
    margin: 0;
	border-top: 4px solid #888;
	padding: 0;
	width:100%;
	height: 64px;
}

.chat-window.open .chat-footer.fixed {
	width: calc(100% - 29px);
	position:fixed;
}

/* CHAT HEADER CONVO SPECIFICS */
.chat-header .convo-btns {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	background: #777;
	color: #EEE;
	padding: 14px 10px;
}
.chat-header .convo-link {
	background: #999;
	right: 60px;
	text-decoration:none;
}
.chat-header .convo-refresh {
	background: #888;
	right: 30px;
}
.chat-header .convo-location {
	position: absolute;
	font-size: 10px;
	color: #aaa;
	bottom: 0px;
}
.chat-header .convo-btns:hover {
	background: #565656;
	text-decoration:none;
}



/* CHAT WINDOW SPECIFICS */
.chat-window.open {
	left: 0;
	display:block;
}




/* CONVERSATION MESSAGES */
.chat-message {
    margin: 0;
    padding: 7px 10px;
    list-style: none;
    border-bottom: 1px solid #ccc;
	font-size: 12px;
	color: #555;
	background: #ddd;
}
.chat-message.flash {
    background: #AAAAAA;
    color: #444444;
    text-shadow: 1px 1px #BBBBBB;
}
.chat-message-right {
    margin-right: 55px;
}
.chat-message-left {
    margin-left: 55px;
}
.chat-timeago {
    padding-left: 5px;
}
.chat-window-messages {
    margin: 0;
}
/*.chat-status.offline {
 background-color: #DF5F40;
 box-shadow: 0 0 7px #DF5F40;
}
.chat-status {
	background-color: #47CA70;
	border-radius: 500px;
	box-shadow: 0 0 7px #5EC767;
	display: inline-block;
	height: 14px;
	margin-right: 3px;
	margin-top: -3px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	vertical-align: middle;
	width: 14px;
}*/
.chat-username {
	display: inline-block;
	padding-top: 4px;
}
/*.chat-status.checking {
	background-color: #EADB60;
	box-shadow: 0 0 7px #EADB60;
	animation:blink 1s infinite;
	-webkit-animation: blink 1s infinite;
}*/





/* CONVERSATION SEND MESSAGES */
#additional_clients .chat-message-input {
    margin: 0;
    padding: 10px;
	text-align: center;
}

#additional_clients .chat-input-box {
    border-radius: 0;
    font-size: 16px;
    height: 28px;
    width: 73% !important;
	background: #ccc;
	border: 1px solid #999;
}
#additional_clients .send-chat-btn {
	border-radius: 0;
    padding: 9px 4px;
}


/* MAIN CHAT LIST SECTIONS */
#main-chat-window {
    right: 10px;
    margin: 0;
    width: 298px;
    z-index: 1000;
    bottom: 0px;
    background-color: #ffffff;
    position: fixed;
    border: 1px solid #DDDDDD;
    display: block;
    color: #444;
	font-size: 0;
}
#main-chat-header {
    margin: 0px;
    background-color: #666;
	position: relative;
}
#main-chat-body {
    margin: 0px;
    background-color: #eee;
    overflow-y: auto;
    position: relative;
    font-size: 12px;
    line-height: 14px;
	height: 458px;
}
#main-chat-notice {
	background: #7b7b7b;
	cursor: pointer;
	color: #efefef;
	padding: 6px 0;
	text-align: center;
	margin-bottom: -1px;
	bottom: 0px;
	position:fixed;
	overflow: hidden;
	right: 11px;
	width: 298px;
	z-index: 11120;
}






/* CHAT NOTICE SPECIFICS */
#main-chat-notice .main-chat-notice-customers,
#main-chat-notice .main-chat-notice-label {
	position: absolute;
	left: 6px;
}
#main-chat-notice .main-chat-notice-toggle {
	padding: 7px 20px;
	background: #666
}
#main-chat-notice .main-chat-notice-messages {
	position: absolute;
	display: inline-block;
	padding: 6px 3px;
	top: 0px;
	right: 0px;
	background: #E08462;
	color: #AE5230;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#main-chat-notice .main-chat-notice-messages.hide {
	display: none;
}
#main-chat-notice .main-chat-notice-messages .label {
	background: #AE5230;
}

#main-chat-notice .main-chat-notice-label {
	text-transform: uppercase;
	font-size: 10px;
	font-weight:bold;
}

#main-chat-notice .chat-status.offline {
    background-color: #DF5F40;
	color: #fff;
}

#main-chat-notice .chat-status.checking {
    background-color: #cfc800;
	color: #555;
}

#main-chat-notice .chat-status {
    background-color: #8CA800;
	color: #fff;
}




/* CHAT LIST WINDOW SPECIFICS */
#main-chat-window p {
    margin: 0px;
}
#main-chat-window .badge {
    font-size: 10px;
    padding: 1px 4px;
    float: right;
}
#main-chat-window .alert-info .badge {
    background-color: #3a87ad;
}
#main-chat-window .channel-client-list .badge {
	background: #555;
}
#main-chat-window .chat-container {
	position:absolute;
	bottom: 28px;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #999;
	height: 506px;
}




/* CHAT LIST CLASSES */
.chat-group,
.chat-settings {
	display: inline-block;
	background: #666;
	color: #eee;
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
}
.chat-group:hover,
.chat-settings:hover {
	background: #444;
}
.chat-group {
	width: 118px;
	width: calc(50% - 32px);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.chat-settings {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
}
.chat-settings .dropdown-toggle {
	padding: 10px;
}
.chat-group.active,
.chat-group.blink-me {
	background: #E08462;
	color: #fff;
}
.chat-nav {
	position: absolute;
	top: 0px;
	padding: 10px;
	color: #eee;
	font-size: 14px;
	cursor: pointer;
	right: 32px;
	background: #555;
}





.chat-titles {
    margin: 0px !important;
}
.channel-client-list {
    margin-bottom: 0px;
    border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
    padding: 20px 10px 20px 35px;
	cursor: pointer;
	background: #eee;
    color: #888;
	position: relative;
}
.channel-client-list a {
	color: #444;
}
.channel-client-list:hover {
	background: #ccc;
	color: #444;
}
.chat-indicator {
	background: #363636;
    bottom: 0;
    color: #EEEEEE;
    font-weight: bold;
    left: 0;
    padding: 25px 10px 10px;
    position: absolute;
    top: -1px;
	width: 8px;
	text-align: center;
	cursor: pointer;
	opacity: .5;
}
.chat-indicator:hover {
	background: #444;
}
.chat-indicator.active {
	background: #8CA800;
	opacity: 1;
}
.chat-indicator.checking {
	background: #cfc800;
	opacity: 1;
}
.chat-indicator.offline {
	background: #DF5F40;
	opacity: 1;
}
.main-chat-div-list {
    text-align: center;
    margin: 1px 0px;
}
.channel-name-div {
    cursor: pointer;
}
.chat-client-div-info {
    margin: 1px 0px 0px;
}
.chat-client-div-username {
    margin: 0px;
}
.distinguished-chat-user {
    opacity: 0.6;
}
.chat-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}
.last-chat-message {
    margin: 0px;
}
.chat-client-div-username {
    font-size: 15px;
    margin: 0px;
}
.customer-channel-clients-list {
    transition: .2s all ease 0s;
    -webkit-transition: .2s all ease 0s;
}
.no-customers,
.no-employees {
	text-align:center;
	padding: 30px;
	background: #eee;
}
.no-customers .status,
.no-employees .status {
	margin: 10px;
}





/* CHAT OPTIONS */
#main-chat-window .dropup .dropdown-menu {
    bottom: 100%;
    height: 200%;
    left: -200px;
    margin-bottom: 1px;
    top: 0;
	border-radius: 0;
}



/* BLINK KEY FRAMES */
@keyframes blink 
{
	0%   {box-shadow: 0 0 7px #EADB60;}
	50%  {box-shadow: none;}
	100%   {box-shadow: 0 0 7px #EADB60;}
}

@-webkit-keyframes blink
{
	0%   {box-shadow: 0 0 7px #EADB60;}
	50%  {box-shadow: none;}
	100%   {box-shadow: 0 0 7px #EADB60;}
}





/* CHAT CONTAINER/MINIMIZED */
#main-chat-window.chat-minimized .chat-container {
	bottom: -1000px;
}

#main-chat-window.hide.chat-minimized + #main-chat-notice {
	display: block;
	bottom: -42px;
}



/* CHAT TRANSITIONS */
#main-chat-window .main-trans,
#main-chat-notice.main-trans,
#main-chat-notice .main-trans,
#additional_clients .main-trans {
    transition: all 0.5s cubic-bezier(.13,.99,.75,1.01) 0s;
    -webkit-transition: all 0.5s cubic-bezier(.13,.99,.75,1.01) 0s;
}



/* DARK THEME */
#main-chat-window.dark .chat-group.employees,
#main-chat-window.dark .chat-group.customers,
#main-chat-window.dark .chat-settings {
	background: #333;
}
#main-chat-window.dark .chat-group.active {
	background: #E08462;
}
#main-chat-window.dark .no-customers,
#main-chat-window.dark .no-employees {
	background: #434343;
	color: #eee;
}
#main-chat-window.dark .channel-client-list {
	background: #434343;
	border-bottom-color: #111;
	border-top-color: #777;
}
#main-chat-window.dark .channel-client-list:nth-child(2) {
	border-top-color: #434343;
}
#main-chat-window.dark .channel-client-list:last-child {
	border-bottom-color: #434343;
}
#main-chat-window.dark .channel-client-list .badge {
	background: #E08462;
}
#main-chat-window.dark .channel-client-list a {
	color: #777;
}
#main-chat-window.dark .channel-client-list.distinguished-chat-user {
	opacity: 1;
	background: #111;
}
#main-chat-window.dark .channel-client-list.distinguished-chat-user .chat-client-div-username {
	color: #555;
}
#main-chat-window.dark .chat-group.blink-me {
	background: #E08462;
	color: #fff;
}

#main-chat-window.dark .chat-container {
	background: #434343;
	border: 0;
	bottom: 29px;
}
#main-chat-window.dark .channel-client-list:hover {
	background: #333;
}
#main-chat-window.dark .chat-client-div-username {
	color: #eee;
}
#main-chat-window.dark #main-chat-header {
	border: none;
}
#main-chat-window.dark #main-chat-body {
	border-top: 4px solid #222;
	border-bottom: 4px solid #666;
	background: #666;
}

#main-chat-notice.dark {
	background: #333;
}
#main-chat-notice.dark .main-chat-notice-online-num {
	background: #666;
}
#main-chat-notice.dark .online-group-icon {
	color: #999;
}

#additional_clients.dark .chat-window {
	background: none;
}
#additional_clients.dark .chat-header {
	background: #111;
	color: #ccc;
	border-color: #222;
}
#additional_clients.dark .chat-body {
	background: #434343;
}
#additional_clients.dark .chat-footer {
	background: #111;
	border-color: #555;
}
#additional_clients.dark .chat-message {
	background: #333333;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    color: #AAAAAA;
}
#additional_clients.dark .chat-message.flash {
	text-shadow: none;
	background: #222;
	color: #aaa;
}
#additional_clients.dark .chat-input-box {
	background: #333;
	border-color: #555;
	color: #eee;
}
#additional_clients.dark .chat-header .convo-link {
	background: #444;
}
#additional_clients.dark .chat-header .convo-refresh {
	background: #555;
}
#additional_clients.dark .chat-header .convo-close {
	background: #666;
}



/* MOBILE CHAT ADJUSTMENTS */
@media (max-width: 768px) {
	#main-chat-window {
        width: 100%;
        max-width: 100%;
		right: 0px;
    }
	#main-chat-window .chat-container {
		bottom: 36px;
	}
	html.chat-mobile-open,
	body.chat-mobile-open {
		overflow: hidden;
	}
	body.chat-mobile-open {
		height: 100%;
	}
	body.chat-mobile-open #main-chat-window {
		position: absolute;
		height: auto;
	}
	body.chat-mobile-open #main-chat-body {
		max-height: 100%;
	}
	body.chat-mobile-open #main-chat-footer {
		position:fixed;
		width: 100%;
		bottom: 39px;
		height: auto;
	}
	#main-chat-window .chat-container {
		border-radius: 0;
		border: 0;
		left: 1px;
	}
	#main-chat-notice {
		padding: 10px 0;
		width: 100%;
		left:0;
		right:0;
	}
	#main-chat-notice .main-chat-notice-toggle {
		padding: 11px 20px;
	}
	#main-chat-notice .main-chat-notice-messages {
		padding: 11px 6px;
	}
	#additional_clients .chat-input-box {
		font-size: 20px;
		height: 30px;
	}
	#additional_clients .chat-send-message-btn {
		padding: 9px 15px;
		font-weight:bold;
	}
	#main-chat-header {
		border: none;
	}
	#additional_clients {
		max-width: 100%;
		width: 90%;
		width: calc(100% - 28px);
		right: 0;
		bottom: 39px;
	}
	#additional_clients .chat-window {
		width: 100%;
		bottom: 0;
	}
}

/* BLINKING MESSAGE ANIMATION */
#main-chat-notice .blink-me,
#main-chat-window .blink-me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
