/* 
    Document   : employee_chat
    Created on : Mar 13, 2014, 10:20:38 AM
    Author     : mohammed
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.chat-window {
    background-color: #FFFFFF;
    bottom: 5px;
    position: fixed;
    width: 23%;
    max-width: 300px;
    z-index: 1000;
    margin: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #DDDDDD;
    display: block;
}


.chat-body {
    margin: 0;
    background-color: #FFF;
    overflow-y: auto;
    max-height: 350px;
    position: relative;
    list-style: none;

}

.chat-header {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid #DDDDDD;
}

.chat-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;

}

.chat-titles {
    margin: 0px !important;
}

.channel-client-list {
    margin-bottom: 0px;
    padding: 3px;
    border-bottom: 1px solid #DDDDDD;

}

#main-chat-header {
    margin: 0px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #f5f5f5;
    border-color: #DDDDDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

#main-chat-body {
    margin: 0px;
    background-color: #FFFFFF;
    overflow-y: auto;
    max-height: 350px;
    position: relative;
    padding-top: 5px;
    font-size: 12px;
    line-height: 14px;
}

#main-chat-window {
    right: 10px;
    margin: 0;
    width: 13%;
    max-width: 200px;
    z-index: 1000;
    bottom: 5px;
    background-color: #ffffff;
    position: fixed;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #DDDDDD;
    display: block;
    color: #444;
}

#main-chat-window p {
    margin: 0px;
}

.chat-message {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    list-style: none;
    border-bottom: 1px dotted #B3A9A9;
}

.chat-message-input {
    margin: 0;
    padding: 10px 15px;
}

.chat-input-box {
    width: 76% !important;
}

.chat-message-right {
    margin-right: 55px;
}

.chat-message-left {
    margin-left: 55px;
}

.chat-timeago {
    padding-left: 5px;
}

.main-chat-div-list {
    text-align: center;
    margin: 1px 0px;
}

.channel-name-div {
    cursor: pointer;
}

.chat-client-div-username {
    margin: 0px;
}

.chat-window-messages {
    margin: 0px 2px;
    padding-left: 10px;
    padding-right: 5px;
}

.distinguished-chat-user {
    opacity: 0.6;
}

.chat-status.offline {
 background-color: #DF5F40;
 box-shadow: 0 0 7px #DF5F40;
}

.chat-status {
 background-color: #47CA70;
 border-radius: 500px;
 box-shadow: 0 0 7px #5EC767;
 display: inline-block;
 height: 14px;
 margin-right: 3px;
 margin-top: -3px;
 transition: all 0.3s ease 0s;
 -webkit-transition: all 0.3s ease 0s;
 vertical-align: middle;
 width: 14px;
}

.username {
 display: inline-block;
 padding-top: 4px;
}

.chat-status.checking {
background-color: #EADB60;
box-shadow: 0 0 7px #EADB60;
animation:blink 1s infinite;
-webkit-animation:blink 1s infinite;
}

.chat-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}

.last-chat-message {
    margin: 0px;
}

.chat-client-div-info {
    margin: 1px 0px 0px;
}

.chat-client-div-username {
    font-size: 12px;
    margin: 0px;
}

#main-chat-window .badge {
    font-size: 10px;
    padding: 1px 4px;
    float: right;
}

#main-chat-window .alert-info .badge {
    background-color: #3a87ad;
}

.customer-channel-clients-list {
    transition: .2s all ease 0s;
    -webkit-transition: .2s all ease 0s;
}

@keyframes blink 
{
0%   {box-shadow: 0 0 7px #EADB60;}
50%  {box-shadow: none;}
100%   {box-shadow: 0 0 7px #EADB60;}
}

@-webkit-keyframes blink
{
0%   {box-shadow: 0 0 7px #EADB60;}
50%  {box-shadow: none;}
100%   {box-shadow: 0 0 7px #EADB60;}
}